doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title ruler
        link(rel='stylesheet' href='css/ruler.css' type='text/css')
        link(rel='stylesheet' href='css/dark.css' type='text/css', id='style-link')
    body#body(tabindex=0)
        .right.border
        .bottom.border
        #corner
        #horz.ruler
            .lines.horizontal
            .needle.line.horizontal
        .right.handle
        #width
        #vert.ruler
            .lines.vertical
            .needle.line.vertical
        .bottom.handle
        #height
        #ctrl
            .origin.line.horizontal._100
            .origin.line.vertical._100
        #cursor
            .cursor.line.vertical
            .cursor.line.horizontal
    script(src='ruler.js')